# 构建目录
build/

# 缓存目录
.cache/

# Visual Studio Code
.vscode/

# 编译生成的文件
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# CMake生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# 其他常见的C++临时文件
*.out
*.app
*.log

